.container {
  width: 800px;
  outline-color: red;
  outline-style: dashed;
}

body {
  background-color: blue;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: red;
}

p {
    color: red;
text-align: center;
}

a {

  margin-left: auto;
  margin-right: auto;
  width: 6em;
  color: red;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
