.container {
  background-color: blue;
}
body {
  text-align: center;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 800px;
  border: 30px;
  margin-left: auto;
  margin-right: auto;
  outline-color: red;
  outline-style: double;
  background-color: lightblue;
  outline-width: 30px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: red;
}

p {
    color: red;
text-align: center;
}

a {

  margin-left: auto;
  margin-right: auto;
  width: 6em;
  color: red;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#img1 {
  display: block;
  margin-left: 0px;

}
