body {
  background-color: blue;
}

h1 {
  text-align: center;
  color: red;
}

p {
    color: red;
text-align: center;
}

a {
  text-align: center;
  color: red;
}

img {
  text-align: center;
  color: red;
}
